:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #e9c46a;
    --heading-font: "times new roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;

}